
.container {
    width: 100%;
    margin: auto;
    margin-top: 100px;
}

.typeahead {
    font-size: 2em;
}

.dancer-name {
    font-weight: bold;
}

.dancer-email {
    float: right;
}

.suggest-signedin {
    background-color: #D6D6D6;
}

#last-checked {
text-align: center;
width:424px;
height:14px;
margin-bottom: 5px;
}

.check-success {
color:green;
}

.check-waiting {
color:orange;
}

.check-error {
color:red;
}

/* Profile */

.shadow {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
}

.profile {
    position: absolute;
    z-index: 11;
    width: 600px;
    left: 50%;
    margin-left: -300px;
    border-radius: 6px;
    background-color: white;
    top: 100px;
    padding: 30px;
    font-size: 2em;
}

.profile-option {
    font-weight: bold;
}

.profile-suboption {
    font-weight: normal;
}

.signedin, .signedout, .signin_p, .signout_p {
    display: none;
}

.si .signedin, 
.so .signedout {
    display: inline;
} 

.si .signin_p, 
.so .signin_p, 
.so .signout_p {
    display: block;
}

.loading .btns {
    display: none;
}

.btns {
    margin-top: 60px;
    margin-bottom: 20px;
    border-radius:0px;
}

.btns a {
    margin-left: 100px;
}


/* Typeahead */

.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead-container {
margin-top:10px;
width:424px
}

.centered {
  margin-left: auto;
  margin-right: auto;
  display:block;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  max-height: 320px;
  overflow: scroll;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}

.tt-suggestion.tt-cursor div {
  color: #fff;
  background-color: #0097cf !important;

}

.tt-suggestion p {
  margin: 0;
}

.tt-suggestion div {
    padding: 3px 20px;
}


/* Buttons */

.button {
    padding: 5px 10px;
    display: inline;
    background: #777;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    text-shadow: 1px 1px #666;
    text-decoration: none;
}
.button:hover {
    background-position: 0 -48px;
}
.button:active {
    background-position: 0 top;
    position: relative;
    top: 1px;
    padding: 6px 10px 4px;
}
.button.red { background-color: #e74c3c; }
.button.green { background-color: #2ecc71; }
.button.black { background-color: #333; }

.signout_btn {
    display: none;
}

.si .signin_btn, .so .signin_btn {
    display: none;
}

.si .signout_btn {
    display: inline;
}