<Files .htaccess>
order allow,deny
deny from all
</Files>

Options +FollowSymlinks
RewriteEngine on
RewriteRule ^signup$ signup.php [NC]
RewriteRule ^stream$ stream.php [NC]

Options +FollowSymlinks
RewriteEngine on
RewriteRule ^donate$ donate.php [NC]

# remove www
RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^ http://%1%{REQUEST_URI} [R=301,L]

# 
RewriteRule ^miraclekids/(.*)$ ./miraclekids.php?name=$1


ErrorDocument 400 /error.php?code=400
ErrorDocument 401 /error.php?code=401
ErrorDocument 403 /error.php?code=403
ErrorDocument 404 /error.php?code=404
ErrorDocument 500 /error.php?code=500

IndexIgnore *